.blog-container, article.container
    {
    padding-top: 4em;
    margin: 0 auto 2em auto;
    max-width: @article-width;
    img, iframe
        {
        display: block;
        max-width: 100%;
        margin: 1em auto;
        }
    h2
        {
        margin-bottom: 1em;
        line-height: 1.5em;
        }
    p, li
        {
        font-size: 1.75em;
        line-height: 1.85em;
        color: @shade1;
        }
    pre {

        font-size: 1.5em;
        line-height: 1.85em;
        background-color: transparent !important;
        padding: 0 0 0 2em !important;
        code
            {
            }
    }
    div.meta
        {
        color: @shade3;
        font-size: 1.5em;
        text-align: center;
        margin-bottom: 2em;
        }
    div.twitterlink
        {
        padding: 2em 0;
        text-align: center;
        a
            {
            i
                {
                background: url(../bin/social.png) 0px -@s no-repeat;
                display: inline-block;
                vertical-align: middle;
                margin: 0 4px 4px 0;
                @s: 40px;
                background-position: -4*@s center;
                height: 40px;
                width: 40px;
                background-size: 560px 40px;
                }
            background: @red;
            .title;
            font-size: 1.75em;
            line-height: 1.85em;
            color: @dark;
            padding: 1em 1em .75em 1em;
            // display: inline-block;
            .border-radius(3px);
            &:hover {background-color: lighten(@red, 5);}
            }
        }
    div.preview
        {
        margin-bottom: 1em;
        .clearfix;
        date.inline
            {
            color: @shade3;
            display: none;
            font-weight: lighter;
            }
        date.right
            {
            font-weight: lighter;
            .body();
            float: right;
            font-size: 2em;
            color: @shade3;
            margin-left: 1em;
            display: block;
            line-height: 1.35em * 1.125;
            }
        h3
            {
            .body();
            font-weight: normal;
            margin: 0px 0px 4px 0px;
            font-size: 2em;
            line-height: 1.35em * 1.125;
            a
                {
                text-decoration: none;
                color: @shade1;
                &:hover {color: @darkred};
                }
            }
        }
    }

.blog-container
    {
    padding: 0em;
    margin: 0 auto;
    // max-width: 640px;
    }


aside.next
    {
    max-width: @article-width;
    .opacity(70);
    margin: 2em auto;
    border-top: 1px solid @shade3;
    padding-top: 1em;
    display: block;
    font-size: 1.5em;
    summary {line-height: 1.5em;}
    }

@media (max-width: @mobile-width)
    {
    div#content
        {
        margin-top: 0em;
        }
    article.container
        {
        padding-top: 1em;
        div.twitterlink a i
            {
            @s: 20px;
            background-position: -4*@s center;
            height: 20px;
            width: 20px;
            background-size: 280px 20px;

            }
        }
    .blog-container div.preview
        {
        margin-bottom: 1.5em;
        date.right {display: none;}
        date.inline {display: inline;}
        }
    }
