.blog-container
    {
    article.preview
        {
        width: 32.5%;
        padding: 10px 10px;
        .box-sizing(border-box);
        margin-bottom: 10px;
        .date
            {
            .box-shadow(0px 1px 5px rgba(0,0,0,.2));
            .title();
            text-align: center;
            padding: 5px 0px;
            font-size: 9pt;
            color: @shade2;
            background: @shade1;
            }
        h3
            {
            .title();
            background: @red;
            margin: 0px;
            .box-shadow(0px 1px 5px rgba(0,0,0,.2));
            padding: 10px;
            a
                {
                text-decoration: none;
                color: @dark;
                }
            }
        summary
            {
            .box-shadow(0px 1px 5px rgba(0,0,0,.2));
            padding: 10px;
            background: white;
            .body();
            color: @shade1;
            font-size: 11pt;
            line-height: 1.5em;
            }
        }
    }


@media (max-width: @mobile-width)
    {
    .blog-container article.preview
        {
        width: 99.5%;
        }
    }
