.blog-container
    {
    .clearfix();
    article.preview
        {
        background: white;
        padding: 3em;
        .box-shadow(0px 1px 5px rgba(0,0,0,.2));
        position: relative;
        .meta
            {
            .title();
            text-align: center;
            font-size: 1.125em;
            line-height: 2.4em;
            color: @shade2;
            display: block;
            // background: fade(black, 10);
            margin: 0.866em 0;
            }
        h3
            {
            .title();
            margin: 0px 0px 4px 0px;
            font-size: 2em;
            line-height: 1.35em * 1.125;
            color: @darkred;
            // background: rgba(0,0,0,.05);
            // .box-shadow(0px 1px 5px rgba(0,0,0,.2));
            a
                {
                text-decoration: none;
                color: @darkred;
                }
            }
        summary
            {
            // background: rgba(0,0,100,.05);
            // margin-top: 0.866em;
            .body();
            color: @shade1;
            margin: -2px 0px 0px 0px;
            font-size: 1.5em;
            line-height: 1.8em;
            }
        }
    .article-container
        {
        width: 50%;
        position: relative;
        &:nth-child(2)
            {
            &:before{top: 69px;}
            article.preview:before{top: 70px;}
            }
        &.left
            {
            float: left;
            clear: left;
            padding: 10px 10px 10px 2px;

            }
        &.right
            {
            float: right;
            clear: right;
            padding: 10px 2px 10px 10px;
            }
        .box-sizing(border-box);
        margin-bottom: 10px;
        }
    }


@media (max-width: @mobile-width)
    {
    .blog-container .article-container, .blog-container .article-container.left, .blog-container .article-container.right
        {
        width: 100%;
        float: none;
        margin: 20px 0px;
        padding: 0px;

        }
    }
