<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>1450.me - Manuel Ebert</title>
        <meta name="description" content="">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{% static '/static/images/favicon.png' %}">
        <link rel="stylesheet" href="{% static '/static/css/main.css' %}">
    </head>

    <body>
      <header>
        <div id="debug" style="color: white;"></div>
        <div class="centering" id="header_inner">
          <div class="avatar" id="avatar">
          <div id="goggleLeft"></div>
          <div id="goggleRight"></div>
          </div>
          <hgroup id="header_lower">
            <h1><span class="first">Manuel</span> <span class="last">Ebert</span></h1>
            <h2>Data Scientist, Designer <span class="and">&amp;</span> Ex-Neuroscientist&nbsp;&nbsp;</h2>
            <ul id="social">
              <li><a class="mail" href="mailto:manuel@1450.me"></a></li>
              <li><a class="github" href="https://github.com/maebert"></a></li>
              <li><a class="twitter" href="https://twitter.com/maebert"></a></li>
              <li><a class="dribbble" href="https://dribbble.com/maebert"></a></li>
              <li><a class="linkedin" href="http://www.linkedin.com/in/maebert"></a></li>
            </ul>
          </hgroup>
      </div>
      </header>
      <section id="projects">
        <h3>I'm a data <span class="white">engineer</span> and  <span class="white">designer</span>.</h3>
        <div class="columns3">
        {% for post in projects %}
          <a href="{{ post.url }}" class='blocklink'>
          <article class="blog">
            <div class="cover" style="background-image: url({% static post.cover %}); background-size: {% if post.bg %} contain {% else %} cover {%endif%}; background-color: #{{ post.bg }}"></div>
            <div class="content">
              <h4>{{ post.title|safe }}</h4>
              <p>{{ post.preview|safe }}</p>
            </div>
          </article>
          </a>
        {% endfor %}


      </section>
      <section id="blog">
        <h3>I <span class="white">write</span> and <span class="white">talk</span> about things.</h3>
        <div class="columns2">
        {% for post in blog %}
          <a href="{{ post.url }}" class='blocklink'>
          <article class="blog">
            <div class="cover" style="background-image: url({% static post.cover %}); background-size: {% if post.bg %} contain {% else %} cover {%endif%}; background-color: #{{ post.bg }}"></div>
            <div class="content">
              <h4>{{ post.title|safe }}</h4>
              <p>{{ post.preview|safe }}</p>
            </div>
          </article>
          </a>
        {% endfor %}
      </section>
      </div>

      <section id="map">
        <h3>I'm a <span class="white">nomad</span>.</h3>
        <ul class="map" id="mapcontainer">
          <li data-name="Tokyo" data-x="103" data-y="26" data-date="July 5 - August 5" class='city'></li>
          <li data-name="Berlin" data-x="60" data-y="19" data-date="May 29 - July 4" class='city'></li>
          <li data-name="Edinburgh" data-x="55" data-y="17" data-date="Aug 14 - Aug 19" class='city nofly'></li>
          <li data-name="Black Rock City" data-x="18" data-y="23" data-date="Aug 20 - Sep 01" class='city'></li>
          <li data-name="San Francisco" data-x="15" data-y="25" data-date="Sep 02 - Oct 20" class='city nofly'></li>
          <li data-name="Oslo" data-x="60" data-y="14" data-date="Oct 20 - Oct 23" class='city'></li>
          <li data-name="Barcelona" data-x="56" data-y="24" data-date="Oct 23 - Nov 14" class='city'></li>
          <li data-name="Chiang Mai" data-x="88" data-y="37" data-date="Nov 18 - Dec 19" class='city'></li>
          <li data-name="San Francisco" data-x="15" data-y="25" data-date="Jan 05 - Feb 22" class='city nofly'></li>
          <li data-name="Ubud" data-x="95" data-y="41" data-date="Feb 22 - Mar 25" class='city nofly'></li>
          <li data-name="Melbourne" data-x="104" data-y="52" data-date="Mar 26 - Apr 8" class='city'></li>
          <li data-name="Zurich" data-x="59" data-y="21" data-date="Apr 18 - May 1" class='city'></li>
          <li data-name="Boston" data-x="32" data-y="23" data-date="May 14 - May 16" class='city'></li>
          <li data-name="San Francisco" data-x="15" data-y="25" data-date="May 17 - July 14" class='city'></li>
          <li data-name="Reykjavik" data-x="50" data-y="11" data-date="July 15 - August 8" class='city'></li>
          <li data-name="San Francisco" data-x="15" data-y="25" data-date="Current location" class='current city'></li>
        </ul>

      </section>
      <footer>
        Made by Manuel Ebert.
          <ul id="social">
            <li><a class="mail" href="mailto:manuel@1450.me"></a></li>
            <li><a class="github" href="https://github.com/maebert"></a></li>
            <li><a class="twitter" href="https://twitter.com/maebert"></a></li>
            <li><a class="dribbble" href="https://dribbble.com/maebert"></a></li>
            <li><a class="linkedin" href="http://www.linkedin.com/in/maebert"></a></li>
          </ul>

      </footer>
      <script src="{% static '/static/js/main.js' %}"></script>
      <script src="{% static '/static/js/vendor/masonry.js' %}"></script>
      <script>
      var msnry3 = new Masonry( document.querySelector('.columns3'), {
        itemSelector: 'article',
        "gutter": 24,
        "transitionDuration": 0
      });
      var msnry2 = new Masonry( document.querySelector('.columns2'), {
        itemSelector: 'article',
        "gutter": 24,
        "transitionDuration": 0
      });
      </script>
    </body>

</html>
