{% extends theme("base.html", False) %}
{% block bodyclass %}landing{% endblock %}
{% block description %}Manuel Ebert is a ex-neuroscientist, designer and developer living in San Francisco. This is his portfolio and blog.{% endblock %}
{% block body %}

<header>
    <div class="avatar">
        <div id="goggleLeft"></div>
        <div id="goggleRight"></div>
    </div>
    <div id="name">likes making beautiful stuff.</div>
</header>
{% include theme("navigation.html", False) %}

<div class="content" id="content">
	<div class="container">

        <h2 id="portfolio">Portfolio</h2>

        <div class="portofolio-container">
            {% for entry in site.articles(category="portfolio")|sort(attribute='created', reverse=True) %}
                {% include theme('portfolio-entry.html', False) %}
            {% endfor %}
        </div>

        <h2 id="blog">Blog</h2>

        <div class="blog-container">
            {% for entry in site.articles(category="blog")|sort(attribute='created', reverse=True) %}
                {% include theme('preview.html', False) %}
            {% endfor %}
        </div>

        <h2 id="about">About</h2>

        <article class="about container">
            {% for entry in site.articles(category="about") %}
                {{ entry.content|markdown }}
            {% endfor %}
        </article>
	</div> <!-- container -->
</div> <!-- content -->
{% endblock %}
