{% extends theme("base.html", False) %}
{% block bodyclass %}landing{% endblock %}
{% block body %}
<header>
    <div class="avatar">
        <div id="goggleLeft"></div>
        <div id="goggleRight"></div>
    </div>
    <div id="name">likes making beautiful stuff.</div>
</header>
{% include theme("navigation.html", False) %}

<div class="content" id="content">
	<div class="container">

        <h2 id="portofolio">Portofolio</h2>

        <div class="portofolio-container">
            {% for entry in site.articles(category="portofolio") %}
                {% include theme('portofolio-entry.html', False) %}
            {% endfor %}
        </div>

        <h2 id="blog">Blog</h2>

        <div class="blog-container">
            {% for entry in site.articles(category="blog") %}
                {% include theme('preview.html', False) %}
            {% endfor %}

        </div>

        <h2 id="contact">Contact</h2>
	</div> <!-- container -->
</div> <!-- content -->
{% endblock %}
