<html>
<head>
    <title>{% if title %}{% block title %}{% endblock %} (1450.me){% else %}1450.me{% endif %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="Manuel Ebert, design, programming, development, portwem preludium, portwem{% block keywords %}{% endblock %}">
    <meta name="author" content="Manuel Ebert">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ theme_static('bin/favicon.png') }}" />
    <link rel="apple-touch-icon" href="{{ theme_static('bin/apple-touch-icon.png') }}" />
    <script type="text/javascript">
      (function() {
        var config = {
          kitId: 'mgn3fpr',
          scriptTimeout: 3000
        };
        var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
      })();
    </script>
    {% block head %}{% endblock%}
    <link rel="stylesheet" type="text/css" href="{{ theme_static('css/portwem.css') }}" />
    <script src="{{ theme_static('js/modernizr-2.5.3-respond-1.1.0.min.js') }}"></script>
</head>
<body class="{% block bodyclass %}{% endblock %}">

{% block body %}

{% endblock %}
<script src="{{ theme_static('js/jquery.min.js') }}"></script>
<script src="{{ theme_static('js/portwem.js') }}"></script>
</body>
