<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<description>{% block synopsis %}{% endblock %}</description>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{Favicon}" />
	<link rel="apple-touch-icon" href="{PortraitURL-128}"/>
	<link rel="alternate" type="application/rss+xml" href="{RSS}" />
	<link rel="stylesheet/less" href="media/less/portwem.less" />

	<script src="media/js/less.min.js"></script>
	<script src="media/js/modernizr-2.5.3-respond-1.1.0.min.js"></script>
</head>
<body>

<div id="portofolio-modal" class="modal container hide fade" tabindex="-1"></div>

<header>
    <div class="avatar">
        <div id="goggleLeft"></div>
        <div id="goggleRight"></div>
    </div>
</header>
<nav class=".container">
    <div class="navbar">
      <div class="navbar-inner">
            <a class="brand" href="#">
                Manuel Ebert <br />
                <span class="whatido">Ex-Neuroscientist, Designer &amp; Developer.</span>

            </a>

            <ul class="nav social">
                <li class="github"></li>
                <li class="dribble"></li>
                <li class="twitter"></li>
                <li class="linkedin"></li>
                <li class="heyday"></li>
            </ul>

            <ul class="nav basic">
              <li><a href="#portofolio">Portofolio</a></li>
              <li><a href="#blog">Blog</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>

      </div> <!-- navbar-inner -->
    </div> <!-- navbar -->
</nav>

<div class="content" id="content">
	<div class="container">

		<a name="portofolio"><h2>Portofolio</h2></a>

		<div class="row">
			{% for entry in portofolio %}
			    {% include 'portofolio-entry.html' %}
			{% endfor %}
		</div>

		<a name="blog"><h2>Blog</h2></a>

		<div class="row">
			{% for entry in blog %}
			    {% include 'preview.html' %}
			{% endfor %}
            {% for entry in blog %}
                {% include 'preview.html' %}
            {% endfor %}
            {% for entry in blog %}
                {% include 'preview.html' %}
            {% endfor %}
		</div>

        <a name="contact"><h2>Contact</h2></a>
	</div> <!-- container -->
</div> <!-- content -->

<script src="media/js/jquery.min.js"></script>
<script src="media/js/bootstrap.min.js"></script>
<script src="media/js/bootstrap-modal.js"></script>
<script src="media/js/bootstrap-modalmanager.js"></script>
<script src="media/js/portwem.js"></script>
</body>
</html>

