<nav class="container">
    <div class="navbar">
    <h1 class="mobile-brand"><a href="/" title="Back to 1450.me">Manuel Ebert</a></h1>
      <div class="navbar-inner">
            <a class="brand" id="brand" href="/">
                Manuel Ebert <br />
                <span class="whatido">Ex-Neuroscientist, Designer &amp; Developer.</span>

            </a>

            <ul class="nav social">
                <a target="_blank" href="http://github.com/maebert" title="Read my code on Github"><li class="github"></li></a>
                <a target="_blank" href="http://twitter.com/maebert" title="Follow me on Twitter"><li class="twitter"></li></a>
                <a target="_blank" href="www.linkedin.com/in/maebert" title="Stalk me on LinkedIn"><li class="linkedin"></li></a>
            </ul>

            <ul class="nav basic">
              <li><a href="/#portfolio">Portfolio</a></li>
              <li><a href="/#blog">Blog</a></li>
              <li><a href="/#about">About</a></li>
            </ul>

      </div> <!-- navbar-inner -->
    </div> <!-- navbar -->
</nav>
