<div class="article-container icon-{{entry.icon}}">
<article class="preview">
    <h3><a href="{{entry.category}}/{{entry.slug}}.html">{{ entry.title }}</a></h3>
    <div class="meta">
        <date>{{ entry.date.day }} {{ entry.month }} {{ entry.date.year }}</date>
        {% if entry.tags|length > 0 %}
            posted in <span class="tags">
                {% if entry.tags|length > 1 %}
                    {% for tag in entry.tags[-1] %}
                    <span class="badge tag">{{ tag }}</span>
                    {% endfor %}
                    and <span class="badge tag">{{ entry.tags[-1] }}</span>
                {% else %}
                    <span class="badge tag">{{ entry.tags[0] }}</span>
                {% endif %}
            </span>
        {% endif %}
    </div>
    <summary>
        {{entry.synopsis}}
    </summary>
</article>
</div>
