<div class="span4">
    <article class="preview">
        <div class="banner" style="background-image: url({{ entry.img }});"></div>

        <div class="date">
            <div class="day">{{ entry.date.day }}</div>
            <div class="month">{{ entry.month }}</div>
            <div class="year">{{ entry.date.year }}</div>
        </div>
        <div class="content">
            <h3><a href="{{entry.category}}/{{entry.slug}}.html">{{ entry.title }}</a></h3>    
            {{entry.synopsis}}
        </div>
    </article>
</div>